// bootstrap overrides
$body-color: #343434;
$link-color: #000;
$body-bg: #fff;
$text-muted: rgba(255, 255, 255, 0.7);
$modal-content-color: #222;

$theme-colors: map-merge(
  (
    "primary": #FF341E,
    "alt": #6F6F6F,
    "success": #41CF7A,
    "gray": #A5A5A5,
    "gray-light": #E1E1E1,
    "gray-lightest": #F6F6F6,
    "dark-red": #C31A07,
    "darkest-red": #B42414,
    "dark": #252525,
    // "secondary":  $secondary,
    // "success":    $success,
    // "info":       $info,
    // "warning":    $warning,
    // "danger":     $danger,
    // "light":      $light,
    // "dark":       $dark
  ),
  $theme-colors
);

// card
$card-color: $body-bg;
$card-cap-bg: #f6f6f6;
$card-cap-color: $body-bg;
$card-border-color: none;

// stuff we made up
$alt-bg: #424956;
$btn-color: #fff;
$theme: 'dark';
