@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in .3s;
  animation-fill-mode: forwards;
}

img {
  max-width: 100%;
}

.btn {
  color: $btn-color;
  text-decoration: none;
  transition: $btn-transition, transform .4s;

  &.disabled,
  &:disabled {
    color: $btn-color;
  }

  &:hover {
    transform: scale(1.02);
  }
}

.btn-facebook,
.btn-twitter,
.btn-facebook:hover,
.btn-twitter:hover {
  color: #fff !important;
}

.textarea-with-btn {
  position: relative;

  textarea {
    // NOTE: magic number based on length of button text
    padding-right: $spacer*10;
  }

  .btn {
    position: absolute;
    top:   $spacer;
    right: $spacer*2;
  }
}

.modal {
  .text-muted {
    color: $gray-600 !important;
  }

  a:not(.btn) {
    color: $blue;

    &:hover {
      color: darken($blue, 10%);
    }
  }
}

section {
  padding: 3rem;

  @include media-breakpoint-down(sm) {
    padding: 1.5rem;
  }

  &:last-child {
    padding-bottom: $spacer * 10;
  }
}

.fftf-logo {
  background-image: url("~assets/images/fftf-logo-dark.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 72px;
  display: inline-block;
}

@if $theme == dark {
  .fftf-logo {
    background-image: url("~assets/images/fftf-logo-light.svg");
  }
}

video,
iframe {
  display: block;
  max-width: 100%;
}

.hover-scale {
  transition: transform .4s;

  &:hover {
    transform: scale(1.02);
  }
}

.selfie-container {
  height: 100%;
  width: 100%;

  > div {
    height: 100%;
    position: relative;
    width: 100%;

    .bg {
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0;
      filter: gray;
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      left: 0;
      opacity: .3;
      position: absolute;
      right: 0;
      top: 0;

      &:after {
        content: '';
        background: linear-gradient(180deg, rgba(theme-color("primary"),1) 0%, rgba(theme-color("primary"),0) 100%);
        height: $spacer * 5;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    > :not(.bg) {
      position: relative;
    }
  }
}
