<section>
  <h1>JUNE 10th: DEMAND AMAZON STOP FUELING POLICE VIOLENCE</h1>
  <div class="container">
    <p>Sub heading goes here, lorem ipsum dolor sit amet, consectetur adipiscing elit. In nibh libero, venenatis sed justo eu, sollicitudin nisi. Integer semper tortor orci, id ultricies velit laoreet in. Vestibulum sit amet ante vel risus ornare ultrices sed id leo.</p>
    <p>
      <button class="btn btn-link" @click.prevent="$scrollTo('#join')">
        Join the Protest
      </button>
    </p>
  </div>
</section>

<section id="policing" aria-labelledby="h2-policing">
  <div class="container">
    <h2 id="h2-policing">AMAZON + VIOLENT POLICING</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit odio sapien, vitae suscipit nibh accumsan quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras cursus ligula in aliquam congue. Fusce vitae ultricies diam, lacinia condimentum sem. Donec a mi rutrum, blandit tortor ut, pharetra ipsum. Suspendisse iaculis lacus nibh. Integer tincidunt sapien vel ex rutrum gravida. Morbi sit amet odio tincidunt, porttitor arcu nec, tempus tellus. Pellentesque ornare libero sed feugiat varius. Donec aliquam efficitur gravida. Donec non elit iaculis, molestie odio ut, hendrerit libero. </p>

    <h3>Racist Surveillance Tech</h3>
    <p>Cras cursus ligula in aliquam congue. Fusce vitae ultricies diam, lacinia condimentum sem. Donec a mi rutrum, blandit tortor ut, pharetra ipsum. Suspendisse iaculis lacus nibh. Integer tincidunt sapien vel ex rutrum gravida. Morbi sit amet odio tincidunt, porttitor arcu nec, tempus tellus. Pellentesque ornare libero sed feugiat varius. Donec aliquam efficitur gravida. Donec non elit iaculis, molestie odio ut, hendrerit libero. </p>

    <h3>Amazon’s Police Surveillance Dragnet/ Amazon’s Surveillance Police State</h3>
    <p>Cras cursus ligula in aliquam congue. Fusce vitae ultricies diam, lacinia condimentum sem. Donec a mi rutrum, blandit tortor ut, pharetra ipsum. Suspendisse iaculis lacus nibh. Integer tincidunt sapien vel ex rutrum gravida. Morbi sit amet odio tincidunt, porttitor arcu nec, tempus tellus. Pellentesque ornare libero sed feugiat varius. Donec aliquam efficitur gravida. Donec non elit iaculis, molestie odio ut, hendrerit libero.</p>

    <h3>Amazon Fuels ICE Deportation Machine</h3>
    <p>Cras cursus ligula in aliquam congue. Fusce vitae ultricies diam, lacinia condimentum sem. Donec a mi rutrum, blandit tortor ut, pharetra ipsum. Suspendisse iaculis lacus nibh. Integer tincidunt sapien vel ex rutrum gravida. Morbi sit amet odio tincidunt, porttitor arcu nec, tempus tellus. Pellentesque ornare libero sed feugiat varius. Donec aliquam efficitur gravida. Donec non elit iaculis, molestie odio ut, hendrerit libero.</p>
  </div>
</section>

<section id="join" aria-labelledby="h2-join">
  <div class="container">
    <h2 id="h2-join">JOIN THE PROTEST: 3 Things You Can Do, Right Now!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit odio sapien, vitae suscipit nibh accumsan quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras cursus ligula in aliquam congue. </p>

    <div>
      Submit Video: Read a statement calling on Amazon to Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit odio sapien, vitae suscipit nibh accumsan quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras cursus ligula in aliquam congue.
      > UPLOAD <
      FORM: NAME, EMAIL, ZIP
    </div>
    <div>
      Sign Petition: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit odio sapien, vitae suscipit nibh accumsan quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras cursus ligula in aliquam congue.
      > TAKE ACTION <
    </div>

    <div>
      Create + Share a Digital Poster: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit odio sapien, vitae suscipit nibh accumsan quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras cursus ligula in aliquam congue.
      <SelfieForm />
    </div>
  </div>
</section>

<section id="june10" aria-labelledby="h2-june10">
  <div class="container">
    <h2 id="h2-june10">WHAT WILL HAPPEN ON JUNE 10th?</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit odio sapien, vitae suscipit nibh accumsan quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras cursus ligula in aliquam congue. Fusce vitae ultricies diam, lacinia condimentum sem. Donec a mi rutrum, blandit tortor ut, pharetra ipsum. Suspendisse iaculis lacus nibh. Integer tincidunt sapien vel ex rutrum gravida. Morbi sit amet odio tincidunt, porttitor arcu nec, tempus tellus. Pellentesque ornare libero sed feugiat varius. Donec aliquam efficitur gravida. Donec non elit iaculis, molestie odio ut, hendrerit libero. </p>
  </div>
</section>

<section id="participants" aria-labelledby="h2-participants">
  <div class="container">
    <h2 id="h2-participants">PARTICIPANTS SECTION</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit odio sapien, vitae suscipit nibh accumsan quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
    <LogoCloud />
  </div>
</section>



