<section>
  <div class="container">
    <h1>
      <span class="bg-white text-primary d-inline-block px-2 pt-3 pb-0 mb-3">JUNE 10th:</span>
      <custom-span class="text-white d-block" rtrim>DEMAND AMAZON STOP FUELING POLICE VIOLENCE</custom-span>
    </h1>
    <p class="text-white mt-5">Sub heading goes here, lorem ipsum dolor sit amet, consectetur adipiscing elit. In nibh libero, venenatis sed justo eu, sollicitudin nisi. Integer semper tortor orci, id ultricies velit laoreet in. Vestibulum sit amet ante vel risus ornare ultrices sed id leo.</p>

    <button class="btn btn-primary btn-arrow-down" @click.prevent="$scrollTo('#join')">
      <uppercase>Join the Protest</uppercase>
    </button>
  </div>
</section>

<section id="policing" aria-labelledby="h2-policing">
  <div class="container text-left">
    <h2 id="h2-policing">AMAZON + VIOLENT POLICING</h2>
    <p class="text-alt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit odio sapien, vitae suscipit nibh accumsan quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras cursus ligula in aliquam congue. Fusce vitae ultricies diam, lacinia condimentum sem. Donec a mi rutrum, blandit tortor ut, pharetra ipsum. Suspendisse iaculis lacus nibh. Integer tincidunt sapien vel ex rutrum gravida. Morbi sit amet odio tincidunt, porttitor arcu nec, tempus tellus. Pellentesque ornare libero sed feugiat varius. Donec aliquam efficitur gravida. Donec non elit iaculis, molestie odio ut, hendrerit libero. </p>

    <div class="rounded-sm bg-primary text-white box row">
      <div class="col-md-3 pr-5">
        <img src="/images/racist-surveillance.png" />
      </div>
      <div class="col-md-9 p-3 pr-md-5">
        <h3>
          <uppercase>
            <custom-span ltrim>Racist</custom-span>
            <custom-span class="d-block" ltrim>Surveillance</custom-span>Tech</uppercase>
        </h3>
        <p class="mb-0">Cras cursus ligula in aliquam congue. Fusce vitae ultricies diam, lacinia condimentum sem. Donec a mi rutrum, blandit tortor ut, pharetra ipsum. Suspendisse iaculis lacus nibh. Integer tincidunt sapien vel ex rutrum gravida. Morbi sit amet odio tincidunt, porttitor arcu nec, tempus tellus. Pellentesque ornare libero sed feugiat varius. Donec aliquam efficitur gravida. Donec non elit iaculis, molestie odio ut, hendrerit libero. </p>
      </div>
    </div>

    <div class="rounded-sm bg-alt text-white box row">
      <div class="col-md-3 pr-5">
        <img src="/images/police.png" />
      </div>
      <div class="col-md-9 p-3 pr-md-5">
        <h3>Amazon’s Police Surveillance Dragnet/ Amazon’s Surveillance Police State</h3>
        <p>Cras cursus ligula in aliquam congue. Fusce vitae ultricies diam, lacinia condimentum sem. Donec a mi rutrum, blandit tortor ut, pharetra ipsum. Suspendisse iaculis lacus nibh. Integer tincidunt sapien vel ex rutrum gravida. Morbi sit amet odio tincidunt, porttitor arcu nec, tempus tellus. Pellentesque ornare libero sed feugiat varius. Donec aliquam efficitur gravida. Donec non elit iaculis, molestie odio ut, hendrerit libero.</p>
      </div>
    </div>

    <div class="rounded-sm bg-primary text-white box row">
      <div class="col-md-3 pr-5">
        <img src="/images/ice.png" />
      </div>
      <div class="col-md-9 p-3 pr-md-5">
        <h3>Amazon Fuels ICE Deportation Machine</h3>
        <p>Cras cursus ligula in aliquam congue. Fusce vitae ultricies diam, lacinia condimentum sem. Donec a mi rutrum, blandit tortor ut, pharetra ipsum. Suspendisse iaculis lacus nibh. Integer tincidunt sapien vel ex rutrum gravida. Morbi sit amet odio tincidunt, porttitor arcu nec, tempus tellus. Pellentesque ornare libero sed feugiat varius. Donec aliquam efficitur gravida. Donec non elit iaculis, molestie odio ut, hendrerit libero.</p>
      </div>
    </div>
  </div>
</section>

<section id="join" aria-labelledby="h2-join">
  <div class="container text-left">
    <h2 id="h2-join">
      <custom-span ltrim class="text-primary">JOIN THE PROTEST:</custom-span>
      <custom-span ltrim class="d-block">3 Things You Can Do,</custom-span>
      <span>Right Now!</span>
    </h2>
    <p class="text-alt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit odio sapien, vitae suscipit nibh accumsan quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras cursus ligula in aliquam congue. </p>
  </div>
</section>
<section id="submit-video" aria-labelledby="h2-submit-video" class="bg-gray-lightest">
  <div class="container text-left">
    <h2 class="lnumber" id="h2-submit-video">
      <span class="number bg-primary text-white">1</span>
      <uppercase>Submit Video</uppercase>
    </h2>
    <p class="text-alt">Read a statement calling on Amazon to Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit odio sapien, vitae suscipit nibh accumsan quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras cursus ligula in aliquam congue.</p>
    <VideoUploadForm />
  </div>
</section>

<section id="sign" aria-labelledby="h2-sign" class="bg-primary text-gray-light">
  <div class="container text-left">
    <h2 id="h2-sign" class="text-white lnumber">
      <span class="number bg-white text-primary">2</span>
      <uppercase>Sign Petition</uppercase>
    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit odio sapien, vitae suscipit nibh accumsan quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras cursus ligula in aliquam congue.</p>
    <a class="btn bg-white text-primary btn-arrow-right" href="https://p2a.co/jUuqWGS"><uppercase>Sign Petition</uppercase></a>
  </div>
</section>

<section id="poster" aria-labelledby="h2-poster" class="bg-dark text-gray-light">
  <div class="container text-left">
    <h2 id="h2-poster" class="text-white lnumber">
      <span class="number bg-white text-primary">3</span>
      <uppercase>Create + Share</uppercase>
    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit odio sapien, vitae suscipit nibh accumsan quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras cursus ligula in aliquam congue.</p>
    <SelfieForm />
  </div>
</section>

<section id="june10" aria-labelledby="h2-june10" class="bg-primary text-white">
  <div class="container text-left">
    <h2 id="h2-june10">
      WHAT WILL HAPPEN <span class="d-block">ON<custom-span class="text-dark">JUNE 10th?</custom-span></span></h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit odio sapien, vitae suscipit nibh accumsan quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras cursus ligula in aliquam congue. Fusce vitae ultricies diam, lacinia condimentum sem. Donec a mi rutrum, blandit tortor ut, pharetra ipsum. Suspendisse iaculis lacus nibh. Integer tincidunt sapien vel ex rutrum gravida. Morbi sit amet odio tincidunt, porttitor arcu nec, tempus tellus. Pellentesque ornare libero sed feugiat varius. Donec aliquam efficitur gravida. Donec non elit iaculis, molestie odio ut, hendrerit libero. </p>

    <img class="mt-5" src="/images/june10.png" alt="Three groups of people protesting" />
  </div>
</section>

<section id="participants" aria-labelledby="h2-participants">
  <div class="container text-left">
    <h2 id="h2-participants">PARTICIPANTS SECTION</h2>
    <p class="text-alt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit odio sapien, vitae suscipit nibh accumsan quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
    <LogoCloud class="justify-content-left" />
  </div>
</section>



